:root {
    --black-100: #292c2e;
    --black-50: #828ba2;
    --black-20: #bec4d5;
    --black-5: #f7f9fc;
    --blue-100: #1a91f0;
    --blue-40: #c3e5fe;
    --blue-30: #deeffa;
    --green-100: #218400;
    --green-20: #b1ff99;
    --green-5: #ecffe6;
    --red-30: #ff6666;
    --red-5: #ffe6e6;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--black-100);
}

h1, h2 {
    font-weight: 700;
}

h1, h2 {
    line-height: 1.2em;
    margin-bottom: 0.5em;
    color: var(--black-100);
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue-100);
}

a:hover {
    color: var(--black-100);
}

body.centralized {
    height: 100vh;
    background: #ffffff;
}

body.centralized #logo {
    display: inline-block;
    height: 50px;
    margin-bottom: 30px;
}

body.centralized main, body.centralized main section, body.centralized section > .container {
    height: 100%;
}

body.centralized section > .container > .row {
    width: 100%;
}

section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.block {
    padding: 1em;
    border-radius: 5px;
    background-color: #ffffff;
}

.form-input {
    margin-bottom: 1em;
}

.form-control, .form-control:focus {
    padding: 0.5em 1em;
    font-size: 0.9em;
    line-height: 1em;
    border-radius: 4px;
    border: 1px solid var(--blue-40);
    color: var(--black-50);
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    opacity: 1;
    color: var(--black-20);
}

.form-error {
    display: block;
    margin-top: 0.25em;
    font-size: 0.8em;
    line-height: 1.25em;
    text-align: left;
    color: var(--red-30) !important;
}

input[type="submit"], a.button {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.1em;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: var(--blue-100);
    outline: none;
    box-shadow: none;
}

a.button {
    display: inline-block;
    width: auto;
}

a.button.blue-100 {
    color: #ffffff;
    background-color: var(--blue-100);
    border: 1px solid var(--blue-100);
}

a.button.blue-100:hover {
    color: var(--blue-100);
    background-color: var(--blue-30);
    border: 1px solid var(--blue-30);
}

a.button.green-100 {
    color: #ffffff;
    background-color: var(--green-100);
    border: 1px solid var(--green-100);
}

a.button.green-100:hover {
    color: var(--green-100);
    background-color: var(--green-5);
    border: 1px solid var(--green-20);
}

input[type="submit"]:hover {
    background-color: var(--blue-30);
    color: var(--blue-100);
}

.alert {
    padding: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
    border: 0;
    border-radius: 4px;
}

.alert.alert-success {
    color: var(--green-100);
    background-color: var(--green-5);
    border-left: 5px solid var(--green-100);
}

.alert.alert-danger {
    color: var(--red-30);
    background-color: var(--red-5);
    border-left: 5px solid var(--red-30);
}

.clearfix {
    clear: both;
}

@media (max-width: 768px) {

}

@media (max-width: 440px) {

}
